* {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-shadow: 5px 5px 5px #63594b;
    margin: 10px;
}

html { 
    background: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2148&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headshot {
    float: left;
    height: 200px;
    width: auto;
    border-radius: 20px;
    border-style: inset;
    border-color: #fcfff8;
    margin: 20px;
}

h1 {
    display: contents;
    font-variant: all-petite-caps;
    font-size: 50px;
    display: inline-flex;
    float: left;
}

nav, ul {
    list-style: none;
    display: inline-flex;
    align-items: flex-end;
}

main {
    margin: 10px;
    padding: 10px;
}

.info {
    background-color: #b9b5b3;
    border-style: inset;
    border-radius: 5px;
    text-shadow: 2px 2px 2px #786d5e;
    padding: inherit;
    margin: inherit;
}