* {
    background-color: #fcfff8;;
    font-family: 'Poppins', sans-serif;
    color: #163e40;
}
#headshot {
    display: flexbox;
    height: 400px;
    width: auto;
}
h1 {
    display: inline;
    align-content: flex-start;
}
li {
    display: flex;
    align-items: flex-end;
}